.background {
    -fx-background-color: #ffffff;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 10);
}


.button {
    /* Normal state */
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
}

.button:hover {
    /* Hover state */
    -fx-background-color: #dddddd;
    -fx-text-fill: #000000;
}

.button:pressed {
    /* Clicked state */
    -fx-background-color: #bbbbbb;
    -fx-text-fill: #000000;
}