.check-box .box {
    -fx-background-color: #333333;
    -fx-border-color: #555555;
    -fx-border-radius: 3px;
    -fx-text-fill: lightgray;
}

.check-box:selected .mark {
    -fx-background-color: #FFFFFF;
}

.check-box:selected .box {
    -fx-background-color: #1E88E5;
}
