.button {
    -fx-background-color: #333333;
    -fx-border-color: #555555;
    -fx-border-width: 0.75;
    -fx-border-radius: 10;
    -fx-text-fill: lightgray;
}

.button:hover {
    -fx-background-color: #555555;
}

.button:pressed {
    -fx-background-color: #777777;
}
