.background {
    -fx-background-color: #333333; /* Màu nền tối */
}
/* Các text trong toàn bộ ứng dụng */
.text {
    -fx-fill: #FFFFFF; /* Màu chữ trắng */
}

/* Các text cụ thể trong ứng dụng của bạn */
.text-specific {
    -fx-fill: #FFFFFF; /* Màu chữ trắng */
}
