#root {
	-fx-background-color: #ffffff;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.icon-button{
	-fx-background-color: transparent;
    	-fx-margin: 10px;
    	-fx-background-radius: 5px;
    	-fx-border-radius: 5px;
}
.icon-button:hover {
	-fx-background-color: #f0f0f0;
}

.icon-button:pressed {
	-fx-background-color: #d0d0d0;
}