.background {
    -fx-background-color: #1C1C1C;
    -fx-border-color: #404040;
    -fx-border-width: 0 0 1 0;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.1), 2, 0, 0, 2);
}

.file-name {
    -fx-font-family: Arial;
    -fx-font-size: 24;
    -fx-text-fill: #FFFFFF; /* Màu chữ trắng */
}

.product-name {
    -fx-font-family: Arial;
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF; /* Màu chữ trắng */
}

.icon-button {
    -fx-background-color: #333333; /* Màu nền đậm */
    -fx-margin: 10px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.icon-button:hover {
    -fx-background-color: #555555; /* Màu nền đậm khi di chuột qua */
}

.icon-button:pressed {
    -fx-background-color: #777777; /* Màu nền đậm khi được nhấn */
}
Text {
    -fx-fill: #FFFFFF; /* Màu chữ trắng */
}