.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane .label {
    -fx-text-fill: black;
    -fx-font-family : Arial;
    -fx-font-size: 14;
}

.dialog-pane .header-panel {
    -fx-background-color: white;
}

.dialog-pane .header-panel .label {
    -fx-font-family : Arial;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}