.background {
	-fx-background-color: #fefefe;
	-fx-border-color: lightgray;
    -fx-border-width: 0 0 1 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 2, 0, 0, 2);
}

.file-name{
    -fx-font-family: Arial;
    -fx-font-size: 24;
}

.product-name{
    -fx-font-family: Arial;
    -fx-font-size: 20;
}
.icon-button{
	-fx-background-color: #F2F2F2;
    -fx-margin: 10px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.icon-button:hover {
	-fx-background-color: #E6E6E6;
}

.icon-button:pressed {
	-fx-background-color: #DFDFDF;
}

.menu-button{
-fx-background-image: url('menu.png');
  -fx-background-size: 24px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}
.code-button{
-fx-background-image: url('code.png');
  -fx-background-size: 24px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}
.question-button{
-fx-background-image: url('question.png');
  -fx-background-size: 24px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}