.normal-button{
	-fx-pref-height: 45;
	-fx-border-radius: 5;
}
.function-button{
	-fx-background-color: #D2D2D2;

	-fx-font-family: Arial;
	-fx-font-size: 20;
}
.function-button:hover{
	-fx-background-color: #C6C6C6;
}
.function-button:pressed{
	-fx-background-color: #BFBFBF;
}
.important-button{
	-fx-background-color: #28a3f4;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
}
.important-button:hover{
	-fx-background-color: #a4d7ff;
}
.number-button{
	-fx-pref-width: 70;
	-fx-background-color: #FFFFFF;
    -fx-background-radius: 5;

	-fx-font-family: Arial;
	-fx-font-size: 20;
}
.number-button:hover{
	-fx-background-color: #BBBBBB;
}
.letter-button{
	-fx-pref-width: 70;
	-fx-background-color: #FFFFFF;
	-fx-border-width: 5;
	-fx-background-radius: 5;

    -fx-font-family: Arial;
    -fx-font-size: 20;
}
.letter-button:hover{
	-fx-background-color: #BBBBBB;
}
.space-button{
	-fx-pref-width: 250;
}
.math-button{
	-fx-pref-height: 35;
	-fx-pref-width: 85;
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0.5;
	-fx-border-color: #111111;
	
	-fx-font-family: "Cambria Math";
	-fx-font-size: 14;
}
.math-button:hover{
	-fx-background-color: #BBBBBB;
}

#closeButton {
	-fx-background-color: transparent;
}

#closeButton:hover {
	-fx-background-color: rgba(172, 172, 172, 0.15);
}

.keyboard-button{
  -fx-background-image: url('keyboard.png');
  -fx-background-size: 48px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

.left-button{
  -fx-background-image: url('left.png');
  -fx-background-size: 24px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}
.right-button{
  -fx-background-image: url('right.png');
  -fx-background-size: 24px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}
.delete-button{
  -fx-background-image: url('backspace.png');
  -fx-background-size: 24px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}