#graphListPane {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 5);
}

.add-button {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 3;
}

.add-button: hover {
    /* Hover state */
    -fx-background-color: #E6E6E6;
}

.add-button: pressed {
    /* Clicked/pressed state */
    -fx-background-color: #DFDFDF;
}

.detail-button{
    -fx-background-color: #f2f2f2;
    -fx-border-width: 0;
    -fx-background-radius: 2;
}
.detail-button: hover {
    -fx-background-color: #e2e2e2;
    -fx-background-radius: 5;
}
.detail-button: click {
    -fx-background-color: #d2d2d2;
    -fx-background-radius: 5;
}
.detail-surface{
    -fx-background-color: #b0b0b0;
    -fx-background-radius: 5;
}


.graph-block {
    -fx-background-color: white;

    -fx-border-width: 0.5;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.graph-block: selected {
    -fx-border-color: #2496EF;
    -fx-border-width: 1;
}
.graph-block . anchor-pane {
    -fx-background-color:  white;
    -fx-border-color: gray;
    -fx-border-width:  0 0.5 0 0;
    -fx-background-radius: 5;
}
.graph-block . menu-button{
    -fx-background-color:  white;
    -fx-border-color: gray;
    -fx-border-width:  0 0.5 0 0;
    -fx-background-radius: 5;
}

.graph-block: selected . anchor-pane {
    -fx-background-color:  #E6E6E6;
    -fx-border-color: #2496EF;
    -fx-border-width:  0 0.5 0 0;
    -fx-background-radius: 5;
}

